$primary-color: #2C3E50;
$second-color: #EEF0EB;

#map-div {
    width: 200px;
    height: 250px;
}

// assets
.face-icon, .call-icon {
    width: 3pc !important;
    height: 3pc !important;
}